# Python Data Types

## Algebraic Expressions & Functions
### Int vs Float

In [1]:
3 + 7  # addition --- no decimal point aka integer or int

In [2]:
3 * 2  # multiplication --- integer

In [3]:
5 / 2  
# division --- decimal point aka floating point or float, 
# with division you could have a fractional part, always integer

In [4]:
4 / 2  # division --- float, even though it's a clean division - python rule

In [5]:
type(3+7)

In [6]:
type(10.0)

In [7]:
# PEMDAS & left to right evaluation
# parentheses, exponential, multiplication, division, addition, subtraction 
# mult & div >> add & sub, parans used to be explicit, right to left evaluation

In [8]:
3 - (2 + 1)  # parans first, sub

In [9]:
3 - 2 + 1 # left to right

2

In [10]:
2 * 3 + 1  # mult, add

7

In [11]:
(3 + 1) * 3  # parans, mult

12

In [12]:
3 + 1.0 * 3  # mult, add -- any time a float is in there result will be float, float is royalty

6.0

In [13]:
3  # evaluates to 3

3

In [14]:
2 * 2 * 2 * 2 # or 2 to the 4th

16

In [15]:
2**4

16

In [16]:
# think back to long division when you had to say 14 divided by 3 = 4 remainder 2
# the left overs, sometimes we want to know that

In [17]:
14 // 3  # gives you the integer quotient aka the `how many times 3 goes into 14` part

4

In [18]:
14 % 3 # gives you the remainer

2

### Functions

In [19]:
# super briefly, functions! f(x) = x + 1 where if you say x = 3 will give you 4
def add_one(x):
    return x + 1

add_one(3)

4

In [20]:
# absolute value function - used to compute the absolute value of a number value
abs(-3)

3

In [21]:
abs(-3.4)

3.4

In [22]:
# minimum function 
min(4,3)

3

In [23]:
# maximum function
max(12, 345)

345

## Boolean Expressions & Operators
### Greater than (>) and Less than (<)

In [24]:
# evaluating an expression to be True or False
2 < 3  # 2 less than 3? YES errr TRUE (Note the capital first letter)

True

In [25]:
3 < 2  # 3 less than 2? NO errr FALSE

False

In [26]:
type(True)  # special word in python

bool

In [27]:
type(False)

bool

In [28]:
5 - 1 > 2 + 1  # calc then evaluate

True

In [29]:
4 > 3

True

### Equality: Equal (==) and Not equal (!=)

In [30]:
3 == 3

True

In [31]:
3 + 5 == 4 + 4

True

In [32]:
3 == 2

False

In [33]:
# determine if a value is even
3 % 2 == 0   # if it's even then no remainder or remainder is equal to 0

False

In [34]:
400 % 2 == 0

True

### Greater than or equal to (>=) and Less than or equal to
### Remember CHOMP (><) before e (=)

In [35]:
3 <= 4

True

In [36]:
3 >= 4

False

### and, or (applies to 2 things you are comparing aka binary) & not (unary)

In [37]:
# and - only returns True if both boolean expressions are True otherwise False
2 < 3 and 4 > 5

False

In [38]:
2 < 3 and 2 < 3  # comparsion operators (<) evaluated before boolean operator

True

In [39]:
2 < 3 and True

True

In [40]:
True and False

False

In [41]:
False and False

False

In [42]:
# or - only returns False if BOTH are False otherwise True
3 < 4 or 4 < 3

True

In [43]:
3 < 2 or 2 < 1

False

In [44]:
True or True

True

In [45]:
True or False

True

In [46]:
False or False

False

In [47]:
# not - unary boolean operator aka applies to single boolean expression
# evaluates False if expression is true & True if expression is false
not (3 < 4)

False

In [48]:
not True

False

In [49]:
not False

True

In [50]:
# George Boole & Boolean Algebra (p 20) for truth tables

## Variables and Assignments
### `<variable> = <expression>` 
### (note 1 `=` for assignment, 2 `==` for evaluation)

In [51]:
# assign names to values -- variables (just like math!)
# why? to retrieve value later on, unless you want to keep writing it all out... don't do that!
# assignment statement assigns to <variable> the value that <expression> evaluates to
x = 4  # assignment statement -- x assigned value 4

In [52]:
# retrieve value assigned in variable x, ready to be used in a python expression
x

4

In [53]:
4 * x

16

In [54]:
counter = 4 * x  # x evalutes to 4 then, expression 4 * 4 is evaluated to 16, then 16 assigned to variable counter

In [55]:
counter

16

In [56]:
# so far we have 2 variables -- x & counter
# variable z, not assigned yet -- what happens?
z

NameError: name 'z' is not defined

In [57]:
# python interpreter yells at you! but it's clear about why. woo clear error messages!
# if you do not assign a value to a variable (or variable has not been assigned a value, same diff) it does not exist *Thanos snaps fingers*
z = 1

In [58]:
z  # all better, *avengers win*

1

## Strings

In [59]:
'Hello World!'  # one string value, evaluates to itself just like 3

'Hello World!'

In [60]:
3

3

In [61]:
s = 'hello'  # s assigned to string value hello

In [62]:
s

'hello'

In [63]:
s*3

'hellohellohello'

## String operators

In [64]:
t = 'world'
t

'world'

In [65]:
s == 'hello'

True

In [66]:
s == 'hello '  # not the same, space

False

In [67]:
s != t

True

In [68]:
# comparison operators - use dictionary order

In [69]:
'a' > 'z'

False

In [70]:
'a' < 'z'

True

In [71]:
s < t

True

In [72]:
s > t

False

In [73]:
# + operator with strings = concatenate aka adding 2 strings
s + t

'helloworld'

In [74]:
s + ' ' + t

'hello world'

In [75]:
# can we multiply?
s * t

TypeError: can't multiply sequence by non-int of type 'str'

In [76]:
# the answer is no, you cannot multiple 2 strings
# but could we multiply a string by an integer?

In [77]:
3 * 'A'

'AAA'

In [78]:
'hello' * 20

'hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello'

In [79]:
30 * '-'

'------------------------------'

In [80]:
x = 5
s = 'wow '

In [81]:
x * s

'wow wow wow wow wow '

### in operator - check if character appears in string

In [82]:
s = 'hello'

In [83]:
'h' in s

True

In [84]:
'g' in s

False

In [85]:
'hell' in s # substring -- string within a string *inception*
# hell is a substring of s

True

### length

In [86]:
len(s)

5

### indexing operator [ ]

In [87]:
# individual characters of a string can be accessed using []
s = 'hello'

In [88]:
type(s)

str

In [89]:
s[0]

'h'

In [90]:
s[2]

'l'

In [91]:
s[1]

'e'

In [92]:
s[-1]

'o'

### lists

In [93]:
# list of pets
pets = ['cat', 'dragon', 'dog']

In [94]:
pets

['cat', 'dragon', 'dog']

In [95]:
type(pets)

list

In [96]:
pets[1]  # indexing operator

'dragon'

In [97]:
# empty list
[]

[]

In [98]:
len([])  # length

0

In [99]:
len(pets)  # length

3

In [100]:
'my favorite pet is the ' + pets[0]

'my favorite pet is the cat'

In [101]:
things = ['one', 2, [3,4]]

In [102]:
things

['one', 2, [3, 4]]

In [103]:
'dog' in pets # in operator

True

In [104]:
'fish' in pets

False

In [105]:
'gecko' not in pets

True

In [106]:
pets + pets  # concatenate via adding

['cat', 'dragon', 'dog', 'cat', 'dragon', 'dog']

In [107]:
pets * 3 # concatenate via multiplying -- x copies of the list are concatenated, in this case x is 3

['cat', 'dragon', 'dog', 'cat', 'dragon', 'dog', 'cat', 'dragon', 'dog']

In [108]:
# table functions
my_list = [1,2,3,4,5]

In [109]:
min(my_list)

1

In [110]:
max(my_list)

5

In [111]:
sum(my_list)

15

In [112]:
# mutable - we can change contents of the list!
# more specific about our cat
pets[0]

'cat'

In [113]:
pets[0] = 'black cat'  # more specific, just assign new text to index 0 of pets

In [114]:
pets

['black cat', 'dragon', 'dog']

In [115]:
# strings are not mutable aka immutable
my_cat = 'black bat'

In [116]:
my_cat

'black bat'

In [117]:
my_cat[-3]

'b'

In [118]:
my_cat[-3] = 'c'

TypeError: 'str' object does not support item assignment

In [119]:
# woe is me, what to do? reassign a new value to my_cat
my_cat = 'black cat'

In [120]:
my_cat

'black cat'

In [121]:
# add to list, function `append`
# append() fn called on list pets with input teacup pig.
# teacup pig is the input argument, gets added to the end of the list pets
pets.append('teacup pig')

In [122]:
pets

['black cat', 'dragon', 'dog', 'teacup pig']

In [123]:
# append = list function aka a method, can't be calle don its own & always called on some list
# another list method is the count() method
# input argument dragon
pets.count('dragon')

1

In [124]:
pets.append('dragon')

In [125]:
pets

['black cat', 'dragon', 'dog', 'teacup pig', 'dragon']

In [126]:
pets.count('dragon')

2

In [127]:
# remove method, removes first occurrence of dragon
pets.remove('dragon')

In [128]:
pets

['black cat', 'dog', 'teacup pig', 'dragon']

In [129]:
# reverse method, reverses order of objects
pets.reverse()

In [130]:
pets

['dragon', 'teacup pig', 'dog', 'black cat']

In [131]:
# sort method, sorts items in the list in increasing order, (lexicographical aka dictinary order for string)
pets.sort()

In [132]:
pets

['black cat', 'dog', 'dragon', 'teacup pig']

In [133]:
lst = [5,3,6,85,4]

In [134]:
lst.sort()

In [135]:
lst

[3, 4, 5, 6, 85]

In [136]:
# want a complete list of list methods?
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None