# Welcome to Python 101 Bootcamp! 
## Taught by Prof Loren
## Let's write a little python!

In [1]:
#first program: print hello world
print('hello world') #just printing words

hello world

In [2]:
#let's print numbers
print(8)

8

we have just printed words/characters and numbers! look at you program! woo!
there 2 data types are known as:
- string: 'hello world'
- integer: 8
these are 2 commonly used data types which you will get very familiar with

In [3]:
#rules of python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

import this explains the rules of python and is similar to how you would import python libraries which you can think of as a bunch of code that exists out in internet to help you. we will go over this later in more detail.

### Cool, so I have things "strings" and "numbers"... what do I do with them?
- store things in variables!

In [4]:
#Variables are reserved memory locations to store values. Denoted by `=` (assign)
number =  1
words = 'i am words'
_yes_no = True
copy_words = words

variables cannot start with numbers or symbols(underscores are fine though!) and if you have multiple words 'space' them out with underscores. you can also assign variables to variables not just strings and numbers however remember to define the variable first!

In [5]:
print(number)

1

In [6]:
print(words)

i am words

In [7]:
print(_yes_no)

True

In [8]:
print(copy_words)

i am words

## You as the programmer have the power!

# Exercise 0:
Write a program that writes `Hello World` 5 times

### Comments
- pounds, hashtags, octothorps
- used to making notes or temporary removal/testing

In [9]:
#program: print hello world
print("hello world") #this isn't getting printed
#print('hello mate')

hello world

In [10]:
#program: print hello world
#print("hello world") #this isn't getting printed
print('hello mate')

hello mate

### Strings
Combinations of characters & symbols defined between quotes (single, double, or triple-- for multiple lines)

In [11]:
string = 'i am a string'
print(string)

i am a string

In [12]:
snobby_string = "No, I'm a string."
print(snobby_string)

No, I'm a string.

In [13]:
special_chars = "@#$%!''"
print(special_chars)

@#$%!''

In [14]:
x = """You 
need
to 
Chill."""
print(x)

You
need
to
Chill.

You can do "math" with strings... well add things together aka concatenation!

In [15]:
thing1 = "Let's be "
thing2 = "together."
print(thing1+thing2)

Let's be together.

In [16]:
print('hello', 'world') #printing words, concatinating strings

hello world

In [17]:
x = 'hello'
y = 'world'
print(x,y)

hello world

In [18]:
#mixing variables & non-variables
x = 'hello'
print(x, 'world')

hello world

### Ints & Float

Integer are whole numbers (i.e. 1,8,123456789)
Float/Floating point numbers are numbers with decimals (i.e. 3.14, 1.0, 12345.54321)

In [19]:
myint = 4
print(myint)

4

In [20]:
mydec = 4.0
print(mydec)

4.0

In [21]:
type(myint)

int

In [22]:
type(mydec)

float

In [23]:
myint == mydec

True

In [24]:
4/5

0.8

### Arithmetic Operators

In [25]:
a = 10
b = 20
c = 3

In [26]:
#Addition
print(10 + 20)

30

In [27]:
#Subtraction
print(20 - 10)

10

In [28]:
#Multiplication
print(20*3)

60

In [29]:
#Division
print(10/3)

3.3333333333333335

In [30]:
#Exponential
print(10**3)

1000

In [31]:
#Modulo/remainder
# 3 goes into 10 3 times with R1
print(10%3)

1

In [32]:
# hint** if it's divisible then it will return 0
print(10%2)

0

### Mashing strings, numbers and arithmetic in one line

In [33]:
#random math fact:
print('What is 5 times 5?', 5*5)

What is 5 times 5? 25

### Boolean

True/False values. Very powerful.

In [34]:
t = True
print(t)

True

In [35]:
f = False
print(f)

False

### Input

Getting user input as a string

In [36]:
user_name = input("Tell me your name: ")

Tell me your name: Charles

In [37]:
print(user_name)

Charles

In [38]:
type(user_name)

str

In [39]:
user_age = input("How young are you? ")

How young are you? 9001

In [40]:
print(user_age)

9001

In [41]:
type(user_age)

str

### Converting to different data types

In [42]:
#int to str
this_int = 4
convert_to_string = str(this_int)
print(convert_to_string)
type(convert_to_string)

4

str

In [43]:
#str to int
back_to_int = int(convert_to_string)
print(back_to_int)
type(back_to_int)

4

int

In [44]:
#remember that random math fact? can't add numbers + string but can add string + string
print('What is 5 times 5? '+ str(5*5)) #instead of the comma we are adding the string (concatinating)

What is 5 times 5? 25

## Exercise 1 Hello user!
Write a program that says:
### Hello *name*, I hope you are enjoying python so far! Happy New Year, we are in *year* !
where *name* is a user input for the user's name and *year* is a user input for what year the user inputs

In [45]:
#need user name and user input of year
user_name = input("Name, please. ")
the_year = input("What is the year? ")
print("Hello " +  user_name+ ", I hope you are enjoying python so far! Happy New Year, we are in "+ the_year +"!")

Name, please. Charles
What is the year? 2016
Hello Charles, I hope you are enjoying python so far! Happy New Year, we are in 2016!

### String Formatting
easier way to write strings
- use curly braces within quotes to represent variables
- end with .format()
- in the () include the variables

In [36]:
user_name = input('name please ')
user_age = input('your age? ')

print("Hello there {}! I see you are {} years old, good for you!".format(user_name,user_age))

name pleaseCharles
your age? 9001
Hello there Charles! I see you are 9001 years old

In [46]:
num = input('give me a number ')
denom = input('give me another number ')

try:
    answer = float(num)/float(denom)
    print("{}/{} = {}".format(num,denom, answer))
except:
    print("give me numbers!")

give me a number 25
give me another number 5
25/5 = 5.0

### Exercise 1 Mad Libs

create a program that prints the following with user defined words

Dear *Name*,

You are extremly *Adjective* and I *Verb* you! I want to *Verb* your *Body Part* *Number* times. You make my *Noun* burn with desire. When I first saw you, I *Adverb* stared at you and fell in *Noun*. Will you *Verb* out with me? Don't let the *Noun Plural* discourage you, *Noun Plural* are just jealous.

Yours forever, *Name*

### Comparison Operators: T/F

In [47]:
#Equals
1 == 2

False

In [48]:
1 == 1

True

In [49]:
#not equals
1 != 2

True

In [50]:
1 != 1

False

In [51]:
#greater than
5 > 1

True

In [52]:
#less than
1 < 5

True

In [53]:
#greater than or equal to
5 >= 5

True

In [54]:
#less than or equal to 
5 <= 6

True

### Control Flow

In [55]:
#if
x = 5

if x == 5:
    print('Yes, x equals 5')

Yes, x equals 5

In [56]:
#if/else
y = 4
if y == 5:
    print("yes, y equals 5")
else:
    print("no, y does not equal 5")

no, y does not equal 5

In [57]:
#if/elif/else
z = 8
if z > 45:
    print("z > 45")
elif z > 25:
    print("z > 25")
else:
    print("no, z equals "+ str(z))
#string + string is okay but you can't do string + int

no, z equals 8

### Try & Except
We went to have backups in case our code blows up

In [58]:
user_year = input('what year were you born? format yyyy: ')
#we are skeptical that the user might try to troll us.... let's make this troll proof. 
#we want a number and won't settle for anything less!
try:
    user_age = 2016 - int(user_year)
    print('according to my calculations, you are '+ str(user_age))
except:
    print('you input a wrong value. you typed: '+ user_year)

what year were you born? format yyyy: 1991
according to my calculations, you are 25

## Exercise 3 Comparing 2 values
### Write a program that has the user put in 2 values and spits out the relationship between the 2 values
### For example "is equal to", "is greater than", etc

## Loops

### While loops
Repeat a set of instructions while a condtion is True
- Need condition to sometimes evaluate to False otherwise you get an infinite loop

In [59]:
count = 5

while count > 0:
    print(count)
    count = count - 1
print('blast off')

5
4
3
2
1
blast off

### For loops
Doesn't require a condition
Repeats instructions for some finite number of items
- Used for sequence/collection data like strings, arrays, etc
- Used for iterating through (going through) objects

In [60]:
name = 'Charles'
for letter in name:
    print(letter)

C
h
a
r
l
e
s

### Lengths
sometimes it's useful to know the length of something.

In [61]:
myname = 'Charles'
print(myname)

Charles

In [62]:
len(myname)

7

### Indexes
sometimes it's userful to know the positioning of things

In [63]:
myname[0] #we count from 0 to n

'C'

In [64]:
#last char = the len - 1
myname[6]

's'

### Lists (Data Structure)
a way to store data 
- collection types
- ordered
- mutable (can be changed)
- iterable (can go through them)
- can hold a variety of object types

In [65]:
#create the list
mylist = []
type(mylist)

list

In [66]:
mylist2 = list()
type(mylist2)

list

In [67]:
#adding to the list
mylist.append(5)
mylist.append(10)
mylist.append(4)
mylist.append(3)
mylist.append(2)
mylist.append(1)

In [68]:
print(mylist)

[5, 10, 4, 3, 2, 1]

In [69]:
#removing by index
mylist.pop(0)
print(mylist)

[10, 4, 3, 2, 1]

In [70]:
#removing --no index specified
mylist.pop()
print(mylist) #removes last element

[10, 4, 3, 2]

### Ranges
getting ranges of numbers
-start, stop, step
- or just a stop

In [71]:
list(range(10)) #up to but not including

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [74]:
_0to10 = list(range(10))

In [75]:
for num in _0to10:
    print(num)

0
1
2
3
4
5
6
7
8
9

In [76]:
#jumping right in and using
for number in range(0,10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [77]:
#get a list of negative numbers
for num in range(0,-10, -1):
    print(num)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

## Exercise 3 FizzBuzz
### Create a program that the integers from 1 to 100. 
### For multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". 
### For numbers which are multiples of both three and five print "FizzBuzz". Else print the number

### using a while loop

### String Slicing
sometimes you want to know only parts of some things

In [78]:
#give me all
myname[:]

'Charles'

In [79]:
#give me only elements 0 up to but not including 3
myname[0:3]

'Cha'

In [80]:
myname[:3]

'Cha'

In [81]:
#give me all elements from 3 to the end
myname[3:7] #7 because we want element 6

'rles'

In [82]:
myname[3:]

'rles'

In [83]:
#you can go backwards!
myname[-1]

's'

In [84]:
myname[-7] #starts at -1 not 0

'C'

In [85]:
myname[-7:-3]

'Char'

In [86]:
long_string = 'Hello my name is Charles, what is your name?'
long_string

'Hello my name is Charles, what is your name?'

In [87]:
#count = 0
for the_letter in long_string:
    print(the_letter)#, count) #notice the spaces count!
    #count = count + 1

H
e
l
l
o

m
y

n
a
m
e

i
s

C
h
a
r
l
e
s
,

w
h
a
t

i
s

y
o
u
r

n
a
m
e
?

### Exercise 4 Extract the name
### From the string *long_string* extract the name in a variable called *the_name* using string slicing

In [88]:
the_name = long_string[17:24]
print(the_name)

Charles

### Find
useful find function to find positions

In [89]:
long_string.find('Charles') #index where first instance of Charles occurs

17

In [90]:
the_name2 = long_string[17:17+7]
the_name2

'Charles'

### UPPERCASE & lowercase
useful for getting everything the same

In [91]:
'Charles'.upper()

'CHARLES'

In [92]:
'Charles'.lower()

'charles'

In [93]:
favorite_language = 'PythoN'

if favorite_language == 'python':
    print("That's an awesome language, you are cool!")
else:
    print("Hmm, consider Python, it's awesome!")
    
#what?! But I said Python!!! I already know it's awesome, hence why it's my favorite!!!

Hmm, consider Python, it's awesome!

In [94]:
favorite_language = 'PythoN'

if favorite_language.lower() == 'python':
    print("That's an awesome language, you are cool!")
else:
    print("Hmm, consider Python, it's awesome!")

That's an awesome language, you are cool!

### In & Not In
way to check if things are found within a collection
- True or False

In [95]:
'x' in 'xylophone'

True

In [96]:
'x' in 'trumpet'

False

In [97]:
8 in range(0,10)

True

In [98]:
9001 in range(0,8000)

False

In [99]:
this_list = [9,8,7,6,5,'hello']
'hello' in this_list

True

## Exercise 5 Vanity Phone Number Name
### Create a program that asks the user their name and turns it the phone number equivalent
### 2 = abc 

### 3 = def 

### 4 = ghi

### 5 = jkl

### 6 = mno

### 7 = pqrs

### 8 = tuv

### 9 = wxyz

### i.e. Charles = 2427537
### using a for loop

### Escaping
- new line
- quotes
- tab
- backslash

because sometimes you want things all in the same line

In [100]:
print('hello\nworld') #newline

hello
world

In [101]:
print('this is my grocery list') 
print('\t- food')
print('\t- netflix')

#tab

this is my grocery list
	- food
	- netflix

In [102]:
print('I\'m 5\'5"') #escaping single quote between single quotes

I'm 5'5"

In [103]:
print("I'm 6'2\"") #escaping double quote bewteen double quotes

I'm 6'2"

In [104]:
print('hi\there') #hey i dont want to tab.... i want slashes!

hi	here

In [105]:
print('hi\\there') #escaping the backslash

hi\there

### Dictionaries (Data Structures)
- Collection types
- Hold a variety of object types (int, string, float, lists, dictionaries)
- Mutable (can be changed)
- Iterable (step through it)
- Not ordered
- Set of key (unique), value pairs. Access values through the key.
- Like a phone numbers, name to numbers.

In [106]:
#creating dictionaries
mydictionary1 = {}
type(mydictionary1)

dict

In [107]:
mydictionary2 = dict()
type(mydictionary2)

dict

In [108]:
#adding to the dictionary
phonebook = {}

#add Charles to your phonebook
phonebook['Charles'] = '555-5555' #Charles = key & number = value

print(phonebook)

{'Charles': '555-5555'}

In [109]:
#add more!
phonebook['Luna'] = '773-202-LUNA'
phonebook["Stacy's Mom"] = '321-909-9999'
print(phonebook)

{'Luna': '773-202-LUNA', 'Charles': '555-5555', "Stacy's Mom": '321-909-9999'}

In [110]:
#get Luna's number
phonebook['Luna'] #get info by the key

'773-202-LUNA'

In [111]:
#go away stacy's mom, we are done!
del phonebook["Stacy's Mom"]
print(phonebook)

{'Luna': '773-202-LUNA', 'Charles': '555-5555'}

In [112]:
#let's make sure stacy's mom is not here!
"Stacy's Mom" not in phonebook

True

In [113]:
#is stacy in our phonebook
'Stacy' in phonebook

False

In [114]:
#is charles?
'Charles' in phonebook

True

In [115]:
#let's print from phonebook
for people in phonebook.keys():
    print(people)

Luna
Charles

In [116]:
#get a list of keys
list(phonebook.keys())

['Luna', 'Charles']

In [117]:
#iterate through the dictionary
for key, value in phonebook.items():
    print(key,value)

Luna 773-202-LUNA
Charles 555-5555

In [118]:
#only want values?
for v in phonebook.values():
    print(v)

773-202-LUNA
555-5555

### Exercise 6 
Create a dictionary with 3 states that maps to 1-3 cities for each of the states.
Then add 2 more states that maps to 1-3 cities for these new states

In [119]:
states = {
    'Illinois': ['Chicago', 'Evanston'],
    'Michigan': ['Detroit', 'Ann Harbor'],
    'Texas' : ['Austin']
}
print(states)

{'Illinois': ['Chicago', 'Evanston'], 'Texas': ['Austin'], 'Michigan': ['Detroit', 'Ann Harbor']}

In [120]:
states['Texas'].append('Houston')
print(states)

{'Illinois': ['Chicago', 'Evanston'], 'Texas': ['Austin', 'Houston'], 'Michigan': ['Detroit', 'Ann Harbor']}

In [121]:
states['Washington']= ['Seattle']
states['Nebreska'] = ['Omaha']
print(states)

{'Washington': ['Seattle'], 'Illinois': ['Chicago', 'Evanston'], 'Texas': ['Austin', 'Houston'], 'Nebreska': ['Omaha'], 'Michigan': ['Detroit', 'Ann Harbor']}

### Tuples  (Data Structures)
- immutable (can't change the data)
- similar to lists

In [122]:
t = 12345, 54321, 'hello'
print(t)

(12345, 54321, 'hello')

In [123]:
t2 = (12345, 54321, 'hello')
print(t2)

(12345, 54321, 'hello')

### dir() -- return a list of attributes

In [124]:
dir(list) #what can we do with lists?

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

we see that lists can append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort

In [125]:
dir(tuple) #what can tuples do?

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

tuples can count and index

In [126]:
my_tup = (0,'hello','hello', 12345,12345,12345)
print(my_tup)

(0, 'hello', 'hello', 12345, 12345, 12345)

In [127]:
my_tup.count('hello') #hello occurs 2 times

2

In [128]:
my_tup[4] #looking at index 4 in the tuple

12345

### Sets (Data Structure)
- unordered collection with no duplicated elements

In [129]:
backpack = ['pen', 'pencil', 'notebook', 'notebook', 'pen', 'food', 'computer']
print(backpack)

['pen', 'pencil', 'notebook', 'notebook', 'pen', 'food', 'computer']

In [130]:
set(backpack) #set()

{'computer', 'food', 'notebook', 'pen', 'pencil'}

In [131]:
backpack2 = {'pen', 'pencil', 'notebook', 'notebook', 'pen', 'food', 'computer'}
print(backpack2)

{'pencil', 'pen', 'computer', 'food', 'notebook'}

### More on looping
- break
- continue

In [132]:
#break-- breaks out of the smallest enclosing for/whle loop
should_continue = True
my_words = list()
while should_continue:
    user_input = input('type something! or write `Done`')
    if user_input.lower() == 'done':
        print('You are done, here are your words:\n {}'.format(my_words))   
        break
    else:
        print('you wrote {}'.format(user_input))
        my_words.append(user_input)

type something! or write `Done`crayons
you wrote crayons
type something! or write `Done`purse
you wrote purse
type something! or write `Done`computer
you wrote computer
type something! or write `Done`done
You are done, here are your words:
 ['crayons', 'purse', 'computer']

In [133]:
#continue -- continue the next iteration of the loop
mixed_list = ['charles', 'eric', 'marc', 1, 2, 3, 5, 8, 13]

for thing in mixed_list:
    if type(thing) == str:
        continue

    print('Is {} divisible by 2?'.format(thing))
    is_valid = thing % 2 == 0
    print(is_valid)
# skips strings

Is 1 divisible by 2?
False
Is 2 divisible by 2?
True
Is 3 divisible by 2?
False
Is 5 divisible by 2?
False
Is 8 divisible by 2?
True
Is 13 divisible by 2?
False

### Exercise 6 
Create friendly Guess The Number game
- asks you for your name and uses it in the game
- tells you that you need to go higher or lower when you guess wrong
- max of 5 guesses per game and then tells you that you lost
- tells you that you won when you won

### Random awesome built-in functions:
- enumerate
- zip
- reversed
- sorted
- max
- min
- sum

In [134]:
#enumerate -- returns tuple containing a count from start (default = 0) 
#and values obtained from iterative over sequence
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [135]:
list(enumerate(seasons, start =1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [136]:
#zip -- aggregates 2 lists
partners1 = ['Lucy', 'Jane', 'Claire', 'Lisa']
partners2 = ['Joseph', 'Peter', 'Mark', 'Luke']
list(zip(partners1,partners2))

[('Lucy', 'Joseph'), ('Jane', 'Peter'), ('Claire', 'Mark'), ('Lisa', 'Luke')]

In [137]:
#what is the type of the zipped items?
zipped_list = list(zip(partners1,partners2))
print(type(zipped_list[0])) #tuple! list of tuples

<class 'tuple'>

In [138]:
#reversed -- returns reversed items

list(reversed(seasons))

['Winter', 'Fall', 'Summer', 'Spring']

In [139]:
#sorted -- returns sorted items
list(sorted(seasons))

['Fall', 'Spring', 'Summer', 'Winter']

In [140]:
#replace -- return a copy of the string with replaced occurences
a = 'race'
b = a.replace('r','p')
print(b)

pace

In [141]:
#max -- can apply to strings & numbers
max(seasons) #highest letter

'Winter'

In [142]:
num_list = [1,2,3,4,5]
max(num_list) #highest number

5

In [143]:
#min -- can apply to strings & numbers
min(seasons)

'Fall'

In [144]:
min(num_list)

1

In [145]:
#sum --- adds numbers up
sum(num_list)

15

### Split
- splits based on characters you tell it to split
- creates a list parsed by the character you split

In [146]:
multiple_lines = """I am Charles
potato
I am Charles
soup
I am Charles
celery"""

print(multiple_lines)

I am Charles
potato
I am Charles
soup
I am Charles
celery

In [147]:
split_lines = multiple_lines.split('\n')
print(split_lines)

['I am Charles', 'potato', 'I am Charles', 'soup', 'I am Charles', 'celery']

In [148]:
for line in split_lines:
    print(line)

I am Charles
potato
I am Charles
soup
I am Charles
celery

In [149]:
count = 0

for line in split_lines:
    if line == 'I am Charles':
        count = count + 1

print('I am Charles appears {} times'.format(count))

I am Charles appears 3 times

### None 
- type NoneType/None used to represent absence of value

In [150]:
survey_data = [
    {
        'name': 'Peter',
        'gender': 'Male',
        'email': None
    },
    {
        'name': 'Charles',
        'gender': 'Male',
        'email': 'charles@awesome.com' 
    }                     
]
print(survey_data)

[{'email': None, 'name': 'Peter', 'gender': 'Male'}, {'email': 'charles@awesome.com', 'name': 'Charles', 'gender': 'Male'}]

### Common Error Types
- SyntaxError
- TypeError
- NameError
- IndexError
- KeyError
- IndentationError

In [151]:
#SyntaxError -- you wrote something wrong, with wrong syntax
print('hi")

SyntaxError: EOL while scanning string literal (<ipython-input-151-6f23d4f0242a>, line 2)

that's not how you write a string! you gotta end the string with the same type of quotes you began!
you can also see in the error message it points to where the error is occurring and that it has something to do with that string

In [152]:
#TypeError -- you are mixing types in a way that is not okay
print(4+'hello')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

how can you add a number to a string? they aren't the same type! you can do int + int & string + string but no mixing! 
you can see that the error message tells you that there is an error with the + and it gives you the types of the things you are trying to concatinate 'int' and 'str' aka string

In [153]:
#NameError -- you have not defined the variable you are trying to use
print(myname)

Charles

Python has no idea what `myname` is and it's not going to even attempt to guess, it's just going to tell you that it doesn't know. no beating around the bush.

In [154]:
#IndexError -- you are beyond the indexes of the list
this_list = [1,2,3]
print(this_list[3])

IndexError: list index out of range

Python is telling you that it can't access an index that is not in the range. remember python indexes start at 0 so in this example you can choose index 0, 1 or 2.

In [155]:
#KeyError -- you are trying to get info on a key that is simply not there
this_dictionary = {'Charles': 9001}
print(this_dictionary['Stella'])

KeyError: 'Stella'

Python > "Who the heck is Stella? I don't know any Stella's that live inside this_dictionary. Nope!"
The key 'Stella' doesn't exist.

In [156]:
#IndentationError --- 4 spaces please
for i in range(0,3):
print(i)

IndentationError: expected an indented block (<ipython-input-156-0a80b12803f2>, line 3)

1st rule: indent 4 spaces

2nd rule: indent 4 spaces

### Functions
- can have 0, 1 or more parameters
- you definte it however you want
- instead of printing, you *return* (this stores that value to the function) to get something back from the function
- remember to indent 4 spaces!

In [157]:
def function_name():
    pass

#def = define the function
#function_name = name of the function
#() in here go parameters
#indent 4 spaces

In [158]:
#function that says hello
#no parameter

def say_hello():
    return('hello')

In [159]:
say_hello()

'hello'

In [160]:
#function with one parameter
def greeting(name):
    return('hello {}'.format(name))

In [161]:
greeting('Charles')

'hello Charles'

In [162]:
#function with two parameters & default parameters
def add_these(x,y=1): #default y to 1
    return(x+y)

In [163]:
add_these(4)

5

In [164]:
add_these(4,2)

6

### Recursion --- process of repeating items in a self-similar way

In [165]:
def factorial(n):
    if n == 1:
        return(1) #base case
    else:
        return(n* factorial(n-1))

1. Need to start out with the simplest case
2. Returns in steps to the simplest case and then goes up!

In [166]:
factorial(3)

6

Under the hood for recursion:

(1) factorial(3) -- > else --> 3 times factorial(3-1)
(2) factorial(2) -- > else --> 2 times factorial(2-1)
(3) factorial(1) --> 1

*now go up!*

(3) factorial(1) = 1
(2) factorial(2) = 2 x 1 = 2
(1) factorial(3) = 3 x 2 = 3

### Running Python Scripts like a Programmer
- basics of the command line
- .py files

Windows: powershell

Mac/Linux: terminal

This is the place where you run python scripts locally.

- Go in your File Explorer & Navigate to Desktop 
- Create a directory called Python_Code
- Grab the code from the exercises and paste it to a code editor
- Name the file exercise#.py

*.py is how Python knows what files have python code and can be executed*

### Command line basics
- cd (change directory)
- ls (list stuff -- lists your directory contents)
- pwd (print working directory -- tells you where you are on your computer)

### Running Python Script
python *name_of_file.py*

### Unpacking variables

In [167]:
x,y = [4,3]

In [168]:
print(x)

4

In [169]:
print(y)

3

In [170]:
def user_age(x):
    name, age = x
    return('my name is {} and I am {} yrs young'.format(name,age))

In [171]:
user_age(('charles',9001)) #tuple

'my name is charles and I am 9001 yrs young'

### Importing Code to your files

Create a file called test.py

def test_function():
	return('This is a test from test.py')

Create a file called importing_exercise.py

from test import *

print(test_function())

### Exercise 7
Create a math.py that has functions add_function, subtract_function, multiply_function, division_function

Create a math_testing.py that tests the functions from math.py 
- import all functions

### Running Python on Command line: parameters and unpacking

save the following in a file called `exercise_params`


from sys import argv

file_name, param1, param2, param3 = argv

print('the file is called', file_name)
print('parameter 1 is', param1)
print('parameter 2 is', param2)
print('parameter 3 is', param3)

#explain sys & argv

In [ ]:
#oop

In [ ]:
#read/write to files open()